.app {
  text-align: center;
  margin-top: 30px;
}

.cul-btn {
  margin: 20px;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 7px 2px #ccc;
  margin-right: 520px;
  margin-left: 520px;
  padding-top: 20px;
  padding-bottom: 20px;
}
